{% extends "@FOSUser/layout.html.twig" %}
{% block alreadyLoggedIn %}
    You can't register when you are logged in!
{% endblock %}
{% block fos_user_content %}
    <h2>Register</h2>
    {{ parent() }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" type="submit">Register</button>
    <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Log in</a>
    {{ form_end(form) }}

{% endblock fos_user_content %}
