{% extends "@App/layout.html.twig" %}


        {% block alreadyLoggedIn %}
        <h1>YOU ARE ALREADY LOGGED IN<h1>
        {% endblock alreadyLoggedIn %}

        {% block fos_user_content %}
         {% if error %}
               <div class="alert alert-danger alert-dismissable" style="background-color: #ff5415">
                            <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error.message }}</strong>
                        </div>
            {% endif  %}
        <h2>{{ "base.login"|trans({}, "AppBundle")  }}</h2>
        {{ parent() }}


            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="form-group">
                    <label for="username"><span class="glyphicon glyphicon-user"></span>{{ "form.email"|trans({},"AppBundle") }}</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="form-group">
                    <label for="password"><span class="glyphicon glyphicon-lock"></span>{{ "form.password"|trans({},"AppBundle") }}</label>
                    <input type="password" class="form-control" id="password" name="_password" required="required" />
                </div>

                <div class="form-group">
                    <label for="remember_me">{{ "form.remember_me"|trans({},"AppBundle") }}</label>
                    <input type="checkbox"  id="remember_me" name="_remember_me" value="on" />

                </div>
                <input type="submit" class="btn btn-success" id="_submit" name="_submit" value="{{ "layout.login"|trans({}, "AppBundle") }}" />
                <a class="btn btn-primary" href="{{ path('appRegistration') }}">{{ "registration.submit"|trans({},"AppBundle") }}</a>
            </form>


{% endblock fos_user_content %}