{% extends "@App/baseView.html.twig" %}
{% block title %}
    {{ model.activeCategory.name }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/categoryView.css') }}">
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/categoryView.js') }}">
    </script>

{% endblock %}
 {% block content %}
<div class="navs">
   <div class="table-responsive">
       <table class="table table-hover">
           <thead>
           <tr>
               <th>Sort By:</th>
               <th><a href="{{ path('categoryView',{name:model.activeCategory.name,sortBy:"price",direction:"asc"}) }}">Cheapest First</a></th>
               <th><a href="{{ path('categoryView',{name:model.activeCategory.name,sortBy:"price",direction:"desc"}) }}">Most Expensive First</a></th>
               <th><a href="{{ path('categoryView',{name:model.activeCategory.name,sortBy:"id",direction:"desc"}) }}">Newest First</a></th>
               <th><a href="{{ path('categoryView',{name:model.activeCategory.name,sortBy:"id",direction:"asc"}) }}">Oldest First</a></th>
           </tr>
           </thead>
       </table>
   </div>
</div>
     {% for product in model.productsToDisplay %}

         <div class="col-sm-3">
             <article class="col-item"
                      onclick='window.location.replace("{{ path('detailsView',{id: product.stocks[0].id}) }}")'>
                 <div class="photo">
                     <div class="options-cart-round">
                         {% if is_granted("ROLE_ADMIN") %}
                             <a href="{{ path('editProduct',{id:product.id,class:"product"}) }}" class="btn btn-default">
                                 <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                             </a>
                             <a href="{{ path('addStockToProduct',{id:product.id}) }}" class="btn btn-default">
                                 <span class="fa fa-plus" aria-hidden="true"></span>
                             </a>
                         {% elseif is_granted("ROLE_USER") %}
                             {% else %}
                             <a class="btn btn-default" title="Login to buy"
                                href="{{ path('fos_user_security_login') }}">
                                 <span class="fa fa-lock" aria-hidden="true"></span>
                             </a>

                         {% endif %}
                     </div>
                     {% if product.images[0] is defined and not null %}
                         <img class="img-rounded" src="{{ product.images[0].url }}" alt="Product Image"/>
                         {% else %}
                             <img class="img-rounded" src="../../images/productImages/no_image.jpg" alt="Product Image"/>
                     {% endif %}

                     {% set maxPromotion = promotion_service.findMaxPromotionForProduct(product) %}
                     {% if maxPromotion %}
                         <span class="round-tag">-{{ maxPromotion }}%</span>
                     {% endif %}

                 </div>

                 <div class="info">
                     <div class="row">
                         <div class="price-details col-md-6">
                             <p class="details">{{ product.description|slice(0,50) }}...</p>
                             <h1>{{ product.name }}</h1>
                             <span class="price-new">BGN:{{ product.price }}</span><br>

                         </div>
                     </div>
                 </div>

             </article>
         </div>

     {% endfor %}

 {% endblock %}
{% block navigation %}
    {{ knp_pagination_render(model.productsToDisplay) }}
{% endblock %}