{% extends "@App/baseView.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/detailsView.css') }}>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="preview col-md-6">

            <div class="preview-pic tab-content">
                {% set num = 1 %}
                {% for picture in product.images %}

                    <div class="tab-pane {{ num == 1? "active"  }}" id="pic-{{ num }}"><img src="{{ picture.url }}" /></div>
                 {% set num = num+1 %}

                {% endfor %}
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
                {% set num = 1%}
                {% for picture in product.images %}

                    <li class={{ num == 1 ? "active" }}><a data-target="#pic-{{ num }}" data-toggle="tab"><img src={{ picture.url }} /></a></li>
                    {% set num = num + 1 %}

                {% endfor %}
            </ul>

        </div>
        <div class="details col-md-6">
            <h3 class="product-title">{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <h4 class="price">current price: <span>BGN:{{ product.price }}</span></h4>


            <h5 class="colors">In Stock:
                {% set prev = "" %}
                {% for currStock in product.stocks|sort %}
                    {% if currStock.size.name== prev%}
                        <a title={{ currStock.color.name }} href={{ currStock.id }}><span class="color {{  stock.id==currStock.id ? 'active'  }}" style="background-color: {{ currStock.color.name|lower=="black"?"#333333": currStock.color.name  }}" data-toggle="tooltip"  data-original-title >
                            </span></a>
                        {% else %}

                        <span class="size">{{ currStock.size.name }}:</span>
                            <a title={{ currStock.color.name }} href={{ currStock.id }}><span class="color {{  stock.id==currStock.id ? 'active'  }}" style="background-color: {{ currStock.color.name }}" data-toggle="tooltip" data-original-title ></span></a>

                    {% endif %}
                    {% set prev = currStock.size.name %}
                    {% endfor %}


            </h5>
            <div class="action">
                <button class="add-to-cart btn btn-default" type="button">add to cart</button>

            </div>
        </div>
    </div>

{% endblock %}